nvim/
secrets/
enchant/
fish/
git/
gramps/
gtk-2.0/
iterm2/
karabiner/
old_nvim/
pulse/
qBittorrent/
zshrc/
wezterm/wezterm-session-manager/
dconf/
nautilus/
xfce4/
evolution/
gnome-initial-setup-done
ibus/
user-dirs.dirs
user-dirs.locale
yelp/
