nvim/
secrets/
enchant/
fish/
git/
gramps/
gtk-2.0/
iterm2/
karabiner/
old_nvim/
pulse/
qBittorrent/
zshrc/*
!zshrc/.zshrc
!zshrc/aliases.zsh
!zshrc/README.md
wezterm/wezterm-session-manager/
dconf/
nautilus/
xfce4/
arm-eap/
github-copilot/
tigervnc/
